mixin menuItem(text, icon = "", href= "#") 
    li.menu-item
        a.menu-link(href= href)
            span.menu-icon 
                if icon 
                    case icon
                        when 'icon-home'
                            include ../icons/_icon-home 
                        when 'icon-chart'
                            include ../icons/_icon-chart 
                        when 'icon-3dcube'
                            include ../icons/_icon-3dcube 
                        when 'icon-play'
                            include ../icons/_icon-play 
                        when 'icon-sub'
                            include ../icons/_icon-sub 
                        when 'icon-discovery'
                            include ../icons/_icon-discovery 
                        when 'icon-micro'
                            include ../icons/_icon-micro 
                        when 'icon-team'
                            include ../icons/_icon-team 
                        when 'icon-user'
                            include ../icons/_icon-user 
                        when 'icon-medal'
                            include ../icons/_icon-medal 
            span.menu-text= text

mixin toggle()
    label.toggle
        input(type="checkbox", name="") 
        .toggle-main 
            .toggle-spinner 