:root {
    --bg-body-color: white;

}

body, .sidebar, .topbar {
    background-color: var(--bg-body-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-body-color: #242731;
    }
}