:root {
    --bg-body-color: white;
    --side-bar-color: #e0eef4;

}

body,
.sidebar,
.topbar {

    background-color: var(--bg-body-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-body-color: #242731;
        --sidebar-color: #e9eef4; 
    }
}