@use "../../abstracts" as abs;

.feed {
    &-header {
        @include abs.flex(center, space-between);
        container-type: inline-size;
        container-name: feedHeader;
        margin-bottom: 40px;
    }

    &-tab {
        display: flex;
        white-space: nowrap;

        &-item {
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.43;
            color: abs.$gray1;
            padding: 10px;
            border-bottom: 1px solid abs.$gray37;
        }

        &-item.is-active {
            color: abs.$primary-color;
            border-bottom-color: currentColor;
            font-weight: 600;
        }
    }

    &-toggle {
        color: abs.$gray1;
        font-size: 14px;
        font-weight: 500;
        @include abs.flex(center, null, null, 10px);
        

    }

    @container feedHeader (max-width: 470px) {
        &-toggle p {
            display: none;
        }
    }

    &-item {
        border: 1px solid var(abs.$gray-natural2);
        @include abs.rounded("rounded-x");

        &-header {
            padding: 20px;
            @include abs.flex(center, space-between);
        }
    }

    &-author {
        @include abs.flex(center, null, null, 16px);

        &-avatar {
            @include abs.size(48px);
            flex: 0 0 48px;
            position: relative; 

            img {
                @include abs.size(100%);
                object-fit: cover;
                @include abs.rounded("rounded-full");
            }
        }

        &-verify {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
        }
    }
}