@use "../../abstracts" as abs;

.host {
    &-heading {
        font-size: 16px;
        font-weight: 600;
        color: abs.$text-black1;
        margin-bottom: 20px;

    }

    &-list {
        @include abs.flex(flex-start, space-between, null, null);
    }

    &-item {
        @include abs.flex(center, null, column, 7px)
    }

    &-avatar {
        @include abs.size(70px);
        @include abs.rounded("rounded-full");
        @include abs.flex(center, flex-end);
        overflow: hidden;
    }

    &-name {
        font-size: 14px;
        color: abs.$gray1;
    }

}