@use "../../abstracts" as abs;

.follow {
    @include abs.flex(center, space-between);

    &-list {
        @include abs.flex(null, null, column, 20px);
    }

    &-user {
        @include abs.flex(center, null, null, 12px);

        &-username {
            color: abs.$gray2;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 4px;
        }

        &-avatar {
            flex: 0 0 46px;
            aspect-ratio: 1;
            box-shadow: 0 0 0 2px var(--bg-body-color), 0 0 0 3px abs.$secondary;
            @include abs.rounded("rounded-lg");

            img {
                @include abs.imgCover ;
                border-radius: inherit;
            }

        }

    }
}