@use "../../abstracts" as abs;

.trending {
    &-heading {
        --mb: 11px;
    }

    &-banner {
        padding: 20px;
        border-radius: 10px;
        background-color: abs.$gray-natural1;
        @include abs.flex(flex-start);

    }

    &-content {
        flex: 0 0 310px;
    }

    &-title {
        font-size: 22px;
        font-weight: 600;
    }
}