.feed 
    .feed-header
        .feed-tab 
            each tab in ["My Feed", "Popular Feed", "Recent"] 
                .feed-tab-item= tab 
        .feed-toggle
            label.toggle
                input(type="checkbox", name="") 
                .toggle-main 
                    .toggle-spinner 
            p New Releases &amp; Guest Only 
    .feed-main 
        .feed-item 