.navigation 
    include ../icons/_icon-menu 
    include ../icons/_icon-search 
    button.navigation-upload
        include ../icons/_icon-upload 
    include ../icons/_icon-message 
    include ../icons/_icon-noti