aside.sidebar 
    a.logo(href="/")
        img(srcSet="./images/logo.png 2x" alt="gocastUI")
    ul.menu
        li.menu-item
            a.menu-link("href="£")
                img(src="./images/icon/icon-home.svg", alt="").menu-icon 
                span.menu-text Home