.topbar 
    .search 
        img(src="./images/icons/icon-search", alt="search").search-icon
        input.search-input(type="text" placeholder= "Search 2+ million podcasts and listeners")
    .topbar-right 