@use "../abstracts" as abs;

.heading {
    --mb: 0px;
    font-size: 16px;
    line-height: 150%;
    color: abs.$text-black1;
    margin-bottom: 20px;
    font-weight: 600;
    margin-bottom: var(--mb);
}

.widget {
    margin-bottom: 40px;

    &-header {
        @include abs.flex(center, space-between);
        margin-bottom: 20px;
    }

    &-heading {
        font-size: 16px;
        font-weight: 600;
    }

    &-view-all {
        font-size: 13px;
        color: abs.$gray2; 
    }
}