$font-primary: "IBM Plex Sans", sans-serif;
$bg-color: hsl(0, 100%, 100%); 
$text-gray: hsl(215, 19%, 59%);
$text-black1: hsl(220, 10%, 12%);
$graye9: hsl(213, 33%, 94%);
$gray1: hsla(216, 3%, 38%, 1);
$gray2: hsl(235, 7%, 67%);
$gray37: hsla(225, 10%, 24%, 1);
$gray-natural: hsla(218, 4%, 42%, 1);
$gray-natural1: hsl(0, 0%, 97%);
$gray-natural2: hsl(208, 26%, 95%);
$gray-neutral1: hsla(0, 0%, 99%, 1);
$primary-color: hsla(248, 57%, 60%, 1);
$primary-black: hsla(240, 19%, 17%, 1);
$secondary : hsla(340, 100%, 91%, 1);

$gradient: linear-gradient(92deg, #415EF4 0.33%, #7141EF 28.14%);



:root {
    --primary-h: 248;
    --primary-s: 57%;
    --primary-l: 60%;
}