@use "../abstracts" as abs;

.button {
    --gap: 10px;
    --fw: 600;
    @include abs.flex(center, center);
    @include abs.rounded("rounded-lg");
    gap: var(--gap);
    font-size: 15px;
    font-weight: (var(--fw));

    &--primary {
        color: abs.$gray-neutral1;
        background-color: abs.$primary-color;
    }
} 