@use "../abstracts" as abs;

.toggle {
    @include abs.size(30px, 17px);
    @include abs.rounded("rounded-full");
    @include abs.bg(abs.$gray2);
    padding: 1.5px 2px;
    cursor: pointer;
    background-image: abs.$gradient;

    input {
        display: none;

        &:checked + .toggle-spinner {
            transform: translateX(12px);
        }
    }

    &-spinner {
        @include abs.rounded("rounded-full");
        background-color: #fff;
        width: 14px;
        aspect-ratio: 1;
    }
}