@use "../abstracts" as abs;

.navigation {
    @include abs.flex(center, space-between);
    padding: 14px 24px;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    &-upload {
        @include abs.size(44px);
        @include abs.rounded("rounded-full");
        background-color: var(--primary-color); 
        @include abs.flex(center, center);
    }

}

@include abs.screenMinWidth(1280px) {
    .navigation {
        display: none;
    }
}