@use "../abstracts" as abs;

.sidebar{
    background: white;
    @include abs.bg(white);
    padding: 48px 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    --gap: 26px;

    &:not(:last-child)&:after {
        content: "";
        display: block;
        height: 1px;
        background-color: abs.$graye9;
        margin-block: var(--gap);
    }

    &-heading {
        font-size: 13px;
        margin-bottom: 10px;
        color: abs.$text-gray;
        padding-left: 20px;
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 10px;
        color: abs.$text-gray;
        font-size: 14px;
        line-height: 143%;
        font-weight: 500;
        padding: 8px 30px 8px 20px;
        @include abs.rounded(12px);

        &:hover {
            background: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
            @include abs.bg(white);

        }
    }
}