@use "../abstracts" as abs;

.topbar {
    padding: 24px 56px;
    @include abs.flex(center, space-between);

    &-right {
        display: flex;
        align-items: center;
        gap: 24px;

        & > * {
            flex-shrink: 0;
        }
    }

    &-logo {
        flex-shrink: 0;
    }

    @include abs.screenMaxWidth(1279.98px) {
        padding: 20px 24px;

        .search, .button-upload, &-action {
            display: none;
        }
    }
}

.search {
    padding: 12px 20px;
    @include abs.rounded(12px);
    @include abs.bg(abs.$gray-natural2); 
    @include abs.flex(center, null, 12px);
    flex: 0 1 360px;

    &-input {
        flex: 1;
        @include abs.bg(transparent);
        border: none;
        font-weight: 500;
        font-size: 15px;
        color: abs.$primary-color;
        caret-color: abs.$primary-color;
        @include abs.placeholder(abs.$gray2);
    }
}

@include screenMinWidth(1280px) {
    .topbar-logo {
        display: none;
    }
}

.profile {
    display: block;
    @include abs.size(48px); 
    
    img {
        @include abs.imgCover;
        @include abs.rounded("rounded-full");
    }
}

.button-upload {
    height: 48px;
    --gap: 6px;
    --p: 0 16px;
}