@use "../abstracts";

.topbar {
    padding: 24px 56px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}